/vendor
/node_modules
/public/hot
/public/build
/storage/*.key
/.idea
/.vscode
.DS_Store
.env
.env.*
/.phpunit.result.cache
/test-results
/temp-laravel
/bootstrap/cache/*.php
/storage/logs/*.log
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
